.meushobbes{
    background-color: blue;
}

#meuhobbe{
    color: aliceblue;
}

.viajar{
    color: brown;
}

.viajar:hover{
    color:aquamarine;
}

.amigos{
    color: chocolate;
}

.amigos:hover{
    color: dimgrey;
}

.barco{
    color: yellowgreen;

}

.barco:hover{
    color: black;
}

.caminhar{
    color: cyan;
}

.caminhar:hover{
    color:blueviolet
}
.dica-viagem {
    color: aqua;
}

.dica-viagem:hover {
    color: rgb(0, 0, 0);
}

.dica-viagem:visited {
    color: rgb(0, 34, 128);
    
}
.dica-viagemk:active {
    color: crimson;
}

.footer{
    background-color: rgb(0, 255, 64);
}

.footer:hover{
    background: aquamarine;
}